#difficultyContainer {
    text-align: center;
    margin-top: 15%;
}
#selectDifficulty {
    border: 2px solid #818181;
    border-radius: 50px;
    font-family: Montserrat;
    font-size: 40px;
    color: 818181;
    background-color: transparent;
    padding: 3%;
    outline: none;
}

#topColorGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid #818181;
    border-radius: 50px;
}
#topStatusGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #818181;
    border-radius: 50px;
    user-select: none;
}
#topColorGrid > button, #topStatusGrid > * > button {
    background-color: transparent;
    pointer-events: none;
    border: none;
    margin: 10%;
}
#topStatusGrid > * > select {
    font-family: Montserrat;
    font-size: 40px;
    color: 818181;
    background-color: transparent;
    padding: 8%;
    outline: none;
    border: none;
}

#confirmCodeEntered {
    background-color: transparent;
    border: 1px solid #818181;

    color: 818181;
    font-size: 20px;
    font-family: Montserrat;

    padding: 2%;
    pointer-events: none;
}
#confirmCodeEnteredParent {
    width: 50%;
}
#confirmCodeEnteredParent:hover #confirmCodeEntered {
    background-color: #818181;
    user-select: none;
    color: 161618;
}
#confirmResusltsEntered {
    background-color: transparent;
    border: 1px solid #818181;

    color: 818181;
    font-size: 20px;
    font-family: Montserrat;

    padding: 2%;
    outline: none;
}
#confirmResusltsEntered:hover {
    background-color: #818181;
    color: 161618;
}

.results {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 40%;
    color: 818181;
    font-size: 30px;
    font-family: Montserrat;
}

#direction {
    color: #818181;
    font-family: Montserrat;
    font-size: 30px;
    user-select: none;
}

img {
    image-rendering: pixelated;
    user-select: none;
    height: 31px;
}

body {
    background-color: 161618;
}
